<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <h1>carregar videos!</h1>


</head>

<body>
<div class="container mt-5">
  <h1>Single File Upload Demo!</h1>
  <form class="mt-3" action="/upload" method="post" enctype="multipart/form-data" onkeydown="cancelarEnterSubmit(event)">
    <div class="form-group">
      <label >Título</label>
      <input type="text" name="titulo"> <br/><br/>
      <label >Descrição</label>
      <input type="text" name="descricao"> <br/><br/>
      <label >Vídeo</label>
      <input type="file" name="fileToUpload" id="fileToUpload1">
      <br>
      <br>
      <input type="text" id="itemInput" placeholder="Adicionar categoria">
      <input type="hidden" name="categorias" id="categorias" value="">

      <button type="button" onclick="adicionarItem()"> Adicionar </button>
      <ul id="listaItens" name="categorias"></ul>

    </div>
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script>

    function cancelarEnterSubmit(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            return false;
        }
    }

    var input = document.getElementById("itemInput");
    var listaItens = document.getElementById("listaItens");


    function adicionarItem() {
        var item = input.value.trim();

        if (item !== '') {
            var listItem = document.createElement("li");
            listItem.appendChild(document.createTextNode(item));
            listaItens.appendChild(listItem);
            input.value = '';
        }
        if(document.getElementById("categorias").value == ""){
          document.getElementById("categorias").value = item
        }else{
          document.getElementById("categorias").value = document.getElementById("categorias").value + ";" + item
        }
    }

</script>

</body>
</html>